Repository o1-labs/docs2, pull requests merged in 2023-04, with the labels that each got.

#340 docs: add clarity to core library references in Node Developers > Codebase Overview
  docs/node-developers/codebase-overview.mdx
Labels: protocol

#341 remove time-bound content [Welcome & MINA sections]
  docs/about-mina/what-are-zero-knowledge-proofs.mdx
  docs/participate/github.mdx
  docs/participate/grants-and-programs.mdx
  docs/using-mina/how-to-send-and-receive.mdx
  docs/using-mina/ledger-hardware-wallet.mdx
Labels: style

#364 docs: refine contributing guidance and link to readme
  CONTRIBUTING.md
Labels: docs, enhancement

#353 zkApp timeless docs and edit grooms part 2
  docs/exchange-operators/faq.mdx
  docs/zkapps/faq.mdx
  docs/zkapps/how-to-deploy-a-zkapp.mdx
  docs/zkapps/how-to-test-a-zkapp.mdx
  docs/zkapps/how-to-write-a-zkapp-ui.mdx
Labels: zkApps

#284 wrote content for how to write zkapp page without screenshot
  docs/using-mina/how-to-use-zkapp.mdx
  sidebars.js
Labels: docs

#337 docs: edits and updates for Tutorial 1: Hello World
  docs/zkapps/tutorials/01-hello-world.mdx
  examples/zkapps/01-hello-world/src/main.ts
Labels: Tutorials, style
