Repository o1-labs/docs2, pull requests merged in 2023-10, with the labels that each got.

#557 Tutorial 6: Off-Chain Storage
  docs/zkapps/tutorials/06-offchain-storage.mdx
Labels: docs, Tutorials

#539 HF technical accuracy audit: Staking & Snarking
  docs/node-operators/index.mdx
  docs/node-operators/staking-and-snarking.mdx
Labels: docs, protocol

#606 feature: update glossary to add soft fork, hard fork, hash
  docs/glossary.mdx
Labels: docs

#611 docs fix: o1js reference redirect
  docusaurus.config.js
Labels: docs, zkApps

#605 HF prep: generate a keypair restructure, plus node operator metadata and light edits
  docs/glossary.mdx
  docs/node-operators/archive-redundancy.mdx
  docs/node-operators/bp-sidecar.mdx
  docs/node-operators/connecting-to-devnet.mdx
  docs/node-operators/delegation-tiebreak.mdx
  docs/node-operators/faq.mdx
  docs/node-operators/foundation-delegation-program.mdx
  docs/node-operators/generating-a-keypair.mdx
  docs/node-operators/getting-started.mdx
  docs/node-operators/hardforks.mdx
  docs/node-operators/hot-cold-block-production.mdx
  docs/node-operators/index.mdx
  docs/node-operators/lifecycle-of-a-payment.mdx
  docs/node-operators/proof-of-stake.mdx
  docs/node-operators/querying-data.mdx
  docs/node-operators/rosetta.mdx
  docs/node-operators/scan-state.mdx
  docs/node-operators/snark-workers.mdx
  docs/node-operators/staking-and-snarking.mdx
  docs/node-operators/troubleshooting.mdx
Labels: Node operator

#615 Verify Tutorial 8: Custom Tokens
  docs/zkapps/tutorials/08-custom-tokens.mdx
Labels: docs, Tutorials, zkApps

#617 Updated links in 07-oracle tutorial
  docs/zkapps/tutorials/07-oracle.mdx
  examples/zkapps/07-oracles/contracts/src/OracleExample.test.ts
  examples/zkapps/07-oracles/oracle/package.json
Labels: docs

#601 Tutorial 7: Oracles doc
  docs/zkapps/tutorials/07-oracle.mdx
Labels: docs, Tutorials, zkApps

#620 fix: remove unused term Kademlia, add more Mina terms
  docs/glossary.mdx
Labels: docs

#621 fix: move zkApp example code for Tutorial 9: Recursion to docs2 repo
  examples/zkapps/09-recursion/.eslintrc.cjs
  examples/zkapps/09-recursion/.gitattributes
  examples/zkapps/09-recursion/.github/workflows/ci.yml
  examples/zkapps/09-recursion/.husky/pre-commit
  examples/zkapps/09-recursion/.npmignore
  examples/zkapps/09-recursion/.prettierignore
  examples/zkapps/09-recursion/.prettierrc
  examples/zkapps/09-recursion/LICENSE
  examples/zkapps/09-recursion/README.md
  examples/zkapps/09-recursion/babel.config.cjs
  examples/zkapps/09-recursion/config.json
  examples/zkapps/09-recursion/jest-resolver.cjs
  examples/zkapps/09-recursion/jest.config.js
  examples/zkapps/09-recursion/package-lock.json
  examples/zkapps/09-recursion/package.json
  examples/zkapps/09-recursion/src/Square.ts
  examples/zkapps/09-recursion/src/main.ts
  examples/zkapps/09-recursion/src/rollup.ts
  examples/zkapps/09-recursion/src/vote.ts
  examples/zkapps/09-recursion/src/zkProgram_wrapper.ts
  examples/zkapps/09-recursion/tsconfig.json
Labels: docs, Tutorials

#626 Fixed using wrong mina-signer method
  examples/zkapps/07-oracles/oracle/app/api/credit-score/route.ts
Labels: bug, docs

#625 docs: verify Tutorial 9: Recursion
  docs/zkapps/tutorials/09-recursion.mdx
Labels: docs, Tutorials, zkApps

#629 fix: Tutorial 8: Custom Tokens version tested with
  docs/zkapps/tutorials/08-custom-tokens.mdx
Labels: Tutorials

#627 07-oracles upgrade to o1js
  docs/zkapps/tutorials/07-oracle.mdx
  examples/zkapps/07-oracles/contracts/.eslintrc.cjs
  examples/zkapps/07-oracles/contracts/.github/workflows/ci.yml
  examples/zkapps/07-oracles/contracts/.husky/pre-commit
  examples/zkapps/07-oracles/contracts/.npmignore
  examples/zkapps/07-oracles/contracts/config.json
  examples/zkapps/07-oracles/contracts/jest-resolver.cjs
  examples/zkapps/07-oracles/contracts/jest.config.js
  examples/zkapps/07-oracles/contracts/package-lock.json
  examples/zkapps/07-oracles/contracts/package.json
  examples/zkapps/07-oracles/contracts/src/OracleExample.test.ts
  examples/zkapps/07-oracles/contracts/src/OracleExample.ts
  examples/zkapps/07-oracles/contracts/src/OracleExampleScaffold.ts
  examples/zkapps/07-oracles/contracts/tsconfig.json
Labels: docs

#631 fix: delete duplicate Getting Started topic
  docs/getting-started.mdx
Labels: docs

#639 feat: add npm run build to docs README
  README.md
Labels: docs

#640 link GitHub logo to the docs repo
  docusaurus.config.js
Labels: docs

#632 docs: getting started zkApps
  docs/zkapps/getting-started-zkapps.mdx
  docs/zkapps/how-to-write-a-zkapp.mdx
  docs/zkapps/index.mdx
  docs/zkapps/install-zkapp-cli.mdx
  sidebars.js
Labels: docs, enhancement, zkApps

#649 docs: Scan State edit grooming while fixing a typo
  docs/mina-protocol/scan-state.mdx
Labels: docs, protocol

#651 docs: add terms to glossary
  docs/glossary.mdx
Labels: docs

#653 HF docs: verify permissions doc
  docs/zkapps/o1js/permissions.mdx
Labels: docs, zkApps

#634 docs: Tutorial 10: Account Updates
  docs/zkapps/tutorials/10-account-updates.mdx
Labels: docs, Tutorials, zkApps

#652 HF docs: verify Interacting with Mina
  docs/zkapps/o1js/interact-with-mina.md
Labels: docs, zkApps, hard fork

#667 docs: add questions to FAQ
  docs/zkapps/faq.mdx
Labels: docs, zkApps

#671 HF docs: verify zkApp CLI Installation
  docs/zkapps/install-zkapp-cli.mdx
Labels: docs, zkApps, hard fork

#673 docs: delete obsolete Node Developers > Client SDK doc
  docs/mina-protocol/sending-a-payment.mdx
  docs/node-developers/client-sdk.mdx
  sidebars.js
Labels: bug, docs, node developer

#679 quick fix: create, but not modify, the deploy alias
  docs/glossary.mdx
  docs/zkapps/tutorials/03-deploying-to-a-network.mdx
Labels: docs, zkApps
