Repository o1-labs/docs2, pull requests merged in 2023-08, with the labels that each got.

#550 fix: How zkApps Work off-chain content
  docs/zkapps/how-zkapps-work.mdx
Labels: bug, docs, zkApps

#554 fix 2: off-chain storage clarity
  docs/zkapps/how-zkapps-work.mdx
Labels: bug

#556 fix: move fetching events and actions to follow primary docs
  sidebars.js
Labels: bug, docs

#495 ongoing iterative glossary updates
  docs/glossary.mdx
Labels: docs, enhancement

#250 Update 02-private-inputs-hash-functions.mdx
  docs/zkapps/tutorials/02-private-inputs-hash-functions.mdx
Labels: docs

#561 fix: MF Delegation Program spreadsheet and text revision for MF program
  docs/node-operators/foundation-delegation-program.mdx
  static/Mina_Foundation_Addresses.csv
Labels: bug, docs, Node operator

#563 docs: new experimental topic with channel to give feedback
  docs/zkapps/experimental.mdx
  docs/zkapps/snarkyjs/recursion.mdx
  docs/zkapps/snarkyjs/smart-contracts.md
  sidebars.js
Labels: docs, style

#571 fix: add context to experimental topic
  docs/zkapps/experimental.mdx
  sidebars.js
Labels: bug, docs
