Repository o1-labs/docs2, pull requests merged in 2023-09, with the labels that each got.

#573 Update minadocs to reflect 1.4.0 release and OS support
  docs/node-operators/archive-node.mdx
  docs/node-operators/connecting-to-the-network.mdx
  docs/node-operators/getting-started.mdx
Labels: Node operator

#575 fix: cleanup and delete unused image files
  static/img/7_Snapps_DeploySnappUI.jpg
  static/img/7_zkApps_DeploySnappUI.jpg
  static/img/9_Snapps_Off-Chain_State.jpg
  static/img/CLIs.png
  static/img/Discord-Logo-Color.png
  static/img/Discord.png
  static/img/Documents_SNARKS_p3-01_Mobile 1.png
  static/img/SnarksOverview.png
  static/img/brandon.webp
  static/img/mycoolsnapp.png
  static/img/prover-function.png
  static/img/smart-contract.png
  static/img/snapp-ui.png
  static/img/staking_power.png
  static/img/staking_power_send.png
  static/img/submit-transaction-network.png
  static/img/verifier-function.png
  static/img/what-are-snapps.png
Labels: docs

#555 Tutorial 4: walk through updates for the deploy to GitHub Pages
  docs/zkapps/tutorials/04-zkapp-ui-with-react.mdx
Labels: docs, Tutorials, zkApps

#587 fix: update docs to use experimental callout
  docs/exchange-operators/faq.mdx
  docs/zkapps/experimental.mdx
  docs/zkapps/o1js/recursion.mdx
  sidebars.js
Labels: docs, style

#603 fix: remove the docs will be rewritten banner
  docs/about-mina/faq.mdx
  docs/about-mina/protocol-architecture.mdx
  docs/node-developers/bip44.mdx
  docs/node-developers/client-sdk.mdx
  docs/node-developers/code-review-guidelines.mdx
  docs/node-developers/codebase-overview.mdx
  docs/node-developers/contributing.mdx
  docs/node-developers/graphql-api.mdx
  docs/node-developers/index.mdx
  docs/node-developers/logging.mdx
  docs/node-developers/repository-structure.mdx
  docs/node-developers/sandbox-node.mdx
  docs/node-operators/archive-node.mdx
  docs/node-operators/archive-redundancy.mdx
  docs/node-operators/block-producers.mdx
  docs/node-operators/bp-sidecar.mdx
  docs/node-operators/connecting-to-devnet.mdx
  docs/node-operators/connecting-to-the-network.mdx
  docs/node-operators/delegation-tiebreak.mdx
  docs/node-operators/faq.mdx
  docs/node-operators/foundation-delegation-program.mdx
  docs/node-operators/generating-a-keypair.mdx
  docs/node-operators/getting-started.mdx
  docs/node-operators/hardforks.mdx
  docs/node-operators/hot-cold-block-production.mdx
  docs/node-operators/index.mdx
  docs/node-operators/lifecycle-of-a-payment.mdx
  docs/node-operators/lifecycle-payment.mdx
  docs/node-operators/mina-signer.mdx
  docs/node-operators/proof-of-stake.mdx
  docs/node-operators/querying-data.mdx
  docs/node-operators/scan-state.mdx
  docs/node-operators/sending-a-payment.mdx
  docs/node-operators/snark-workers.mdx
  docs/node-operators/staking-and-snarking.mdx
  docs/node-operators/staking-service-guidelines.mdx
  docs/node-operators/time-locked-accounts.mdx
  docs/node-operators/troubleshooting.mdx
  docs/node-operators/uptime-tracking-system.mdx
  docs/node-operators/whats-in-a-block.mdx
  docs/using-mina/install-a-wallet.mdx
  docs/zkapps/tutorials/07-oracle.mdx
Labels: style
