Repository o1-labs/docs2, pull requests merged in 2023-07, with the labels that each got.

#453 fix: tutorial 3 edits
  docs/zkapps/tutorials/03-deploying-to-a-network.mdx
Labels: bug, Tutorials, zkApps

#491 fix: glossary remove term without a definition
  docs/glossary.mdx
Labels: bug

#393 rename circuit to provable
  docs/zkapps/snarkyjs/smart-contracts.md
  docs/zkapps/tutorials/05-common-types-and-functions.mdx
  examples/zkapps/05-common-types-and-functions/src/LedgerContract.ts
  examples/zkapps/05-common-types-and-functions/src/main.ts
Labels: docs, snarkyjs

#484 DX: improve How zkApps Work content
  docs/zkapps/how-zkapps-work.mdx
  docs/zkapps/roadmap.mdx
Labels: docs

#492 fix: update archive node content for style
  docs/node-operators/archive-node.mdx
Labels: style

#496 fix: delete obsolete and empty doc files
  docs/about-mina/Advanced/cryptography.md
  docs/exchange-operators/faq.mdx
  docs/exchange-operators/listing-mina.mdx
  docs/node-operators/archive-node.mdx
  docs/node-operators/archive-node/overview.mdx
  docs/node-operators/mina-cli-reference.mdx
  docs/participate/testnet-leaderboard.mdx
  docs/z-node-operators/Developer-References/graphql-api.md
  docs/z-node-operators/Developer-References/javascript-client.md
  docs/z-node-operators/Developer-References/mina-node-cli-reference.md
  docs/z-node-operators/block-production/faq.md
  docs/z-node-operators/block-production/foundation-delegation-program.md
  docs/z-node-operators/block-production/overview.md
  docs/z-node-operators/how-to-install-a-node/docker.md
  docs/z-node-operators/how-to-install-a-node/step-by-step.md
Labels: bug, docs

#499 fix: GraphQL API doc, stale info, broken links
  docs/node-developers/graphql-api.mdx
Labels: bug, docs

#529 fix: delete topics not in the docs
  docs/about-mina/smart-contracts.mdx
  docs/image-example.mdx
  docs/mina-faq.mdx
Labels: docs, style

#528 docs: standards, style, metadata, edits for top-level mina docs
  docs/about-mina/consensus.mdx
  docs/about-mina/faq.mdx
  docs/about-mina/index.mdx
  docs/about-mina/protocol-architecture.mdx
  docs/about-mina/what-are-zero-knowledge-proofs.mdx
Labels: docs, style

#540 Verify Tutorial 5: Common Types and Functions
  docs/zkapps/tutorials/05-common-types-and-functions.mdx
Labels: Tutorials, zkApps
