Repository o1-labs/docs2, pull requests merged in 2024-02, with the labels that each got.

#812 HF audit for o1js docs Actions & Reducer, o1js Basic Concepts, Custom Tokens, Introduction to o1js
  docs/zkapps/o1js/actions-and-reducer.mdx
  docs/zkapps/o1js/basic-concepts.md
  docs/zkapps/o1js/custom-tokens.mdx
  docs/zkapps/o1js/index.md
Labels: docs, hard fork

#826 HF audit for o1js docs Events, How to Fetch Events and Actions, Actions & Reducer
  docs/zkapps/o1js/actions-and-reducer.mdx
  docs/zkapps/o1js/events.mdx
  docs/zkapps/o1js/fetch-events-and-actions.mdx
Labels: docs, hard fork

#825 fix: Lightnet docs
  docs/zkapps/testing-zkapps-lightnet.mdx
Labels: bug, docs

#822 fix: minor doc fixes for style, consistency
  docs/about-mina/index.mdx
  docs/node-operators/faq.mdx
  docs/using-mina/how-to-use-zkapp.mdx
  docs/zkapps/how-to-write-a-zkapp.mdx
  docs/zkapps/index.mdx
  docs/zkapps/o1js/basic-concepts.md
  docs/zkapps/o1js/interact-with-mina.md
  docs/zkapps/o1js/recursion.mdx
  docs/zkapps/o1js/smart-contracts.md
  docs/zkapps/tutorials/07-oracle.mdx
  docs/zkapps/tutorials/anonymous-message-board.mdx
  docs/zkapps/zkapps-for-ethereum-developers.mdx
Labels: docs

#807 docs: new Archive major upgrade section
  docs/berkeley-upgrade/index.mdx
  docs/berkeley-upgrade/migrating-archive-database-to-berkeley.mdx
  docs/berkeley-upgrade/planning-archive-migration.mdx
  sidebars.js
Labels: docs, hard fork

#837 fix: zkApp readmes
  examples/zkapps/01-hello-world/README.md
  examples/zkapps/05-common-types-and-functions/README.md
  examples/zkapps/06-offchain-storage/experimental-zkapp-offchain-storage/README.md
  examples/zkapps/07-oracles/README.md
  examples/zkapps/08-custom-tokens/README.md
  examples/zkapps/09-recursion/README.md
  examples/zkapps/10-account-updates/README.md
  examples/zkapps/11-advanced-account-updates/README.md
  examples/zkapps/anonymous-message-board/README.md
  examples/zkapps/interacting-with-zkApps-server-side/README.md
Labels: docs, zkApps

#836 fix: glossary updates, including simulated local blockchain for Lightnet
  docs/glossary.mdx
  docs/zkapps/testing-zkapps-lightnet.mdx
Labels: bug, docs, zkApps

#839 HF audit for o1js docs: Merkle Tree, On-Chain Values
  docs/zkapps/o1js/merkle-tree.mdx
  docs/zkapps/o1js/on-chain-values.mdx
Labels: docs, zkApps, hard fork

#844 fix: requested change for zkApp on Berkeley info box
  docs/using-mina/how-to-use-zkapp.mdx
  docs/zkapps/getting-started-zkapps.mdx
  docs/zkapps/how-to-deploy-a-zkapp.mdx
  docs/zkapps/how-to-write-a-zkapp-ui.mdx
  docs/zkapps/how-to-write-a-zkapp.mdx
  docs/zkapps/how-zkapps-work.mdx
  docs/zkapps/index.mdx
  docs/zkapps/install-zkapp-cli.mdx
  docs/zkapps/o1js/actions-and-reducer.mdx
  docs/zkapps/o1js/basic-concepts.md
  docs/zkapps/o1js/bitwise-operations.mdx
  docs/zkapps/o1js/custom-tokens.mdx
  docs/zkapps/o1js/ecdsa.mdx
  docs/zkapps/o1js/events.mdx
  docs/zkapps/o1js/fetch-events-and-actions.mdx
  docs/zkapps/o1js/foreign-fields.mdx
  docs/zkapps/o1js/gadgets.mdx
  docs/zkapps/o1js/index.md
  docs/zkapps/o1js/interact-with-mina.md
  docs/zkapps/o1js/keccak.mdx
  docs/zkapps/o1js/merkle-tree.mdx
  docs/zkapps/o1js/on-chain-values.mdx
  docs/zkapps/o1js/permissions.mdx
  docs/zkapps/o1js/recursion.mdx
  docs/zkapps/o1js/sha256.mdx
  docs/zkapps/o1js/smart-contracts.md
  docs/zkapps/o1js/time-locked-accounts.mdx
  docs/zkapps/roadmap.mdx
  docs/zkapps/testing-zkapps-locally.mdx
  docs/zkapps/tutorials/01-hello-world.mdx
  docs/zkapps/tutorials/02-private-inputs-hash-functions.mdx
  docs/zkapps/tutorials/03-deploying-to-a-network.mdx
  docs/zkapps/tutorials/04-zkapp-ui-with-react.mdx
  docs/zkapps/tutorials/05-common-types-and-functions.mdx
  docs/zkapps/tutorials/06-offchain-storage.mdx
  docs/zkapps/tutorials/07-oracle.mdx
  docs/zkapps/tutorials/08-custom-tokens.mdx
  docs/zkapps/tutorials/09-recursion.mdx
  docs/zkapps/tutorials/10-account-updates.mdx
  docs/zkapps/tutorials/anonymous-message-board.mdx
  docs/zkapps/tutorials/interacting-with-zkapps-server-side.mdx
  docs/zkapps/zkapps-for-ethereum-developers.mdx
Labels: docs

#841 HF doc audit for o1js docs: Recursion, Smart Contracts
  docs/zkapps/o1js/recursion.mdx
  docs/zkapps/o1js/smart-contracts.md
  docs/zkapps/o1js/smart-contracts.mdx
Labels: docs, zkApps, hard fork

#850 HF doc audit for o1js docs: Time-Locked Accounts and intro to o1js
  docs/zkapps/o1js/basic-concepts.md
  docs/zkapps/o1js/index.md
  docs/zkapps/o1js/time-locked-accounts.mdx
Labels: docs, zkApps, hard fork

#870 fix: describe archive node processes
  docs/zkapps/testing-zkapps-lightnet.mdx
Labels: bug, docs

#861 fix: update to o1js in experimental doc
  docs/zkapps/experimental.mdx
Labels: bug

#863 HF doc audit: How to Write a zkApp UI
  docs/zkapps/how-to-write-a-zkapp-ui.mdx
Labels: docs, zkApps, hard fork
