Repository o1-labs/docs2, pull requests merged in 2024-01, with the labels that each got.

#802 HF audit for high-level zkApp docs
  docs/zkapps/how-zkapps-work.mdx
  docs/zkapps/index.mdx
  docs/zkapps/zkapps-for-ethereum-developers.mdx
Labels: docs, zkApps, hard fork

#810 MF docs: add security to sidebar, rename to .mdx, link from FAQ
  docs/about-mina/faq.mdx
  docs/about-mina/security.mdx
  sidebars.js
Labels: docs

#780 docs/feat: zk lightnet
  docs/zkapps/getting-started-zkapps.mdx
  docs/zkapps/how-to-write-a-zkapp.mdx
  docs/zkapps/install-zkapp-cli.mdx
  docs/zkapps/o1js/actions-and-reducer.mdx
  docs/zkapps/o1js/interact-with-mina.md
  docs/zkapps/testing-zkapps-lightnet.mdx
  docs/zkapps/testing-zkapps-locally.mdx
  docs/zkapps/tutorials/01-hello-world.mdx
  docs/zkapps/tutorials/index.mdx
  docusaurus.config.js
  sidebars.js
Labels: docs, enhancement, zkApps

#795 docs: new SHA-256 doc
  docs/zkapps/o1js/keccak.mdx
  docs/zkapps/o1js/sha256.mdx
  sidebars.js
Labels: docs, o1js
